@import "./top";
@import "./bottom";
@import "./body";

/* MEDIA QUERIES */
@media (min-width: 699px) {
  ul#menu-list > li {
    width: 49%;
    float: left;
  }
  ul#menu-list::after {
    content: "";
    display: table;
    clear: both;
  }
  ul#menu-list li:nth-child(odd) {
    border-right: 1px solid $primary;
  }
}

@media (min-width: 949px) {
  ul#menu-list {
    text-align: left;
    padding-left: 2rem;

    li,
    li:nth-child(odd) {
      border: unset;
      width: 13%;
      float: left;
    }
  }

  section#contents {
    display: grid;
    grid-template-columns: 60fr 40fr;
    gap: 1rem;
    justify-items: flex-start;

    article.article {
      justify-self: stretch;
    }
  }
  #ws-macbeth {
    height: max-content;
  }
}
