// KEA Restaurant
$primary-color: #e9424f;
$secondary-color: #263549;
$accent-color: #e9c588;

// William Shakespeare
$primary: #872260;
$secondary: #e18abc;
$third-pink: #b9528e;

$sans-serif: Arial, Helvetica, sans-serif;
$serif: Georgia, "Times New Roman", Times, serif;
$font-size-base: calc(13px + 0.9vw);

$font-size-base: calc(13px + 0.3vw);
$spaces-left-right: calc(0.5rem + 0.8vw);
